In [20]:
#time to setup
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

# Nasa Mars News

In [68]:
# Opening a separate chrome tab
executable_path = {'executable_path': "C:/Users/Rizky Gamal/.wdm/drivers/chromedriver/win32/88.0.4324.96/driver/chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [22]:
# Checking out the nasa website
url = "https://mars.nasa.gov/news/"
browser.visit(url)
html = browser.html

In [4]:
# I can't find them there's only soup
soup = bs(html, 'html.parser')
slide_element = soup.select_one("ul.item_list li.slide")
slide_element.find("div", class_="content_title")

<div class="content_title"><a href="/news/8875/testing-proves-its-worth-with-successful-mars-parachute-deployment/" target="_self">Testing Proves Its Worth With Successful Mars Parachute Deployment</a></div>

In [5]:
# Scrape the latest News Title and Paragraph Text
news_title = slide_element.find("div", class_="content_title").get_text()
news_p = slide_element.find("div", class_="article_teaser_body").get_text()

# Display scraped news 
print(news_title)
print("-----------------------------------------")
print(news_p)

Testing Proves Its Worth With Successful Mars Parachute Deployment
-----------------------------------------
The giant canopy that helped land Perseverance on Mars was tested here on Earth at NASA’s Wallops Flight Facility in Virginia.

# JPL Mars Space Images

In [61]:
# Let's look at some pictures 
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
shorturl = "https://www.jpl.nasa.gov"
browser.visit(url)
html_image = browser.html

In [62]:
# What do you mean there's only soup?
soup = bs(html_image, 'html.parser')

In [64]:
# Isolating the image url
featured_image_url = soup.find_all('img')[2]["src"]
print(featured_image_url)

https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24415.2e16d0ba.fill-400x400-c50.jpg

# Mars Facts

In [69]:
# And now to check out some facts about Mars
url = "https://space-facts.com/mars/"
browser.visit(url)
html_image = browser.html

In [71]:
# Reading the table with Pandas
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [72]:
# Passing that table into a dataframe
mars_facts_df = tables[2]
mars_facts_df.columns = ["Description", "Value"]
mars_facts_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [76]:
# Bringing it back to html
mars_html = mars_facts_df.to_html()
mars_html.replace('\n', '')
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [78]:
# And now to check out the hemisepheres on Mars
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
shorturl = "https://astrogeology.usgs.gov"
browser.visit(url)
html_hemi = browser.html

In [84]:
# It means there's only soup
soup = bs(html_hemi, 'html.parser')

In [90]:
hemisphere_image_urls = []
# Get a List of All the Hemispheres
links = browser.find_by_css("a.product-item h3")
for item in range(len(links)):
    hemisphere = {}
    
    # Find element on each loop
    browser.find_by_css("a.product-item h3")[item].click()
    
    # Get the hemisphere title
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Find the images url
    sample_element = browser.find_link_by_text("Sample").first
    hemisphere["img_url"] = sample_element["href"]
    
    # Append objects to list
    hemisphere_image_urls.append(hemisphere)
    
    # Go back when looping
    browser.back()

In [92]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]